@using Vidly.Models
@model Vidly.ViewModels.RandomMovieViewModel


@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
   var className = Model.Customers.Count > 5 ? "popular" : null;
    }

<h2 class=@className>Through passing movie object: @Model.Movie.Name</h2>
<ul>
    @foreach (var item in Model.Customers)
    {
        <li>@item.Name</li>
    }
</ul>
@*<br />*@
@*<h2>Through ViewData: @(((Movie)ViewData["Movie"]).Name)</h2> <!-- all things are depended on this "Movie" string  and ViewData is replaced by ViewBag. If names in controller and view arent same we can get null reference error-->*@
@*<br />*@
@*<h2>Through ViewBag: @(((Movie)ViewBag.Movie).Name)    </h2>*@

